.blog_main_box {

	.blog_image {
		height: 324px;
		width: 464px;
	  background-repeat: no-repeat;
	  background-size: cover;
		background-image: url(./street.png);
		background-position: center;
	}
}
