@import './components/AboutUs/AboutUs.scss';
@import './components/Blog/Blog.scss';
@import './components/Contact/Contact.scss';
@import './components/Portfolio/Portfolio.scss';
@import './components/Services/Services.scss';
@import './components/Welcome/Welcome.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
}

.container {
  max-width: 860px;
  padding: 0 15px;
  margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

.main_box {
	height: 830px;
	width: 100%;
}
